<!DOCTYPE HTML>
<html>
<head>
<script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
  var dataPointsA = []
  var dataPointsB = []
  var dataPointsC = []

  $.ajax({
    type: 'GET',
    url: "{% url 'data_json' %}",
    dataType: 'json',
    success: function(field) {
      for (var i = 0; i < field.length; i++) {
        dataPointsA.push({
          x: field[i].x,
          y: field[i].column3
        });

        dataPointsB.push({
          x: field[i].x,
          y: field[i].column4
        });

        dataPointsC.push({
          x: field[i].x,
          y: field[i].column5
        });
      }

      var chart = new CanvasJS.Chart("chartContainer", {
        title: {
          text: "JSON from External File"
        },

        data: [{
          type: "line",
          name: "line1",
          dataPoints: dataPointsA
        }, {
          type: "line",
          name: "line2",
          dataPoints: dataPointsB
        }, {
          type: "line",
          name: "line3",
          dataPoints: dataPointsC
        }]
      });

      chart.render();
    }
  });
})
</script>

</head>
<body>
<div id="chartContainer" style="height: 300px; width: 100%;"></div>
</body>
</html>
